---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=0125214c&app_key=52458ad285e3511c0fed3c8bc4fbb8fd&q=bad-token&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "bad-token",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "to" : [ "100" ],
            "q" : [ "bad-token" ],
            "app_id" : [ "0125214c" ],
            "app_key" : [ "52458ad285e3511c0fed3c8bc4fbb8fd" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sat, 05 Nov 2016 19:05:23 GMT
recorded_with: VCR 3.0.3
