---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=72b676f2&app_key=79ba35fbd789a1c7f37e12f8381d1d6f&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "app_id" : [ "72b676f2" ],
            "app_key" : [ "79ba35fbd789a1c7f37e12f8381d1d6f" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Thu, 03 Nov 2016 21:30:24 GMT
recorded_with: VCR 3.0.3
