---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=5bef3a21&app_key=5e72ca6a3e7a33106455cf8d4859c6e2&q=&to=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "to" : [ "1000" ],
            "q" : [ "" ],
            "app_id" : [ "5bef3a21" ],
            "app_key" : [ "5e72ca6a3e7a33106455cf8d4859c6e2" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Mon, 07 Nov 2016 04:38:23 GMT
recorded_with: VCR 3.0.3
