---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=62375717&app_key=2702d00443b68ca7a2c78ef557b365a0&q=lemon%20dogfish%20pudding
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "lemon dogfish pudding",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "lemon dogfish pudding" ],
            "app_id" : [ "62375717" ],
            "app_key" : [ "2702d00443b68ca7a2c78ef557b365a0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 04 Nov 2016 20:32:56 GMT
recorded_with: VCR 3.0.3
