<div class="row">
  <div class="small-12 large-3 column"><a href="/auth/github" class="button">Login with Github</a></div>
  <div class="small-12 large-3 column"><a href="/auth/twitter" class="button">Login with Twitter</a></div>
  <div class="small-12 large-3 column"><a href="/auth/facebook" class="button">Login with Facebook</a></div>
  <div class="small-12 large-3 column"><a href="/auth/google_oauth2" class="button">Login with Google</a></div>
</div>
