<article class = "row">
<h1 class="large-11 small-centered columns">Welcome to Munch on This: A Recipe Finder</h1>
<%=image_tag "frog_chef.jpg", class: "home-image small-9 columns large-7 columns"%>

<p class="intro small-3 columns large-5 columns"> Need an awesome recipe recommendation for a romantic dinner for two? Or do you just want to know what you can do with 5 bottles of ketchup? Try out Munch on This! Get started with the search bar above.</p>

</article>
