<h1>This is the main page</h1>
<h1>Welcome to Edamam!</h1>
<h3>Use the search bar to look up recipes</h3>


<%= form_tag(search_path(item), :method => "get") do %>

<%= text_field_tag :search %>
<%= submit_tag "Search" %>
<% end %>
