<h3 class="small-12 columns third-font"><%= @recipe.recipe_name %></h3>
<p class="small-12 columns second-font">
  <%= link_to("Original recipe",@recipe.url, :target => "_blank") %>
</p>
<p class="image small-12 medium-6 large-3 columns">
  <%= image_tag(@recipe.image, class:"image") %>
</p>


<div class="small-12 medium-5 large-8 columns">
  <% @recipe.ingredients.each do |ingredient| %>
    <p class="small-12 medium-5 large-8 columns first-font">
      <%= ingredient %>
    </p>
  <% end %>
  <p></p>
</div>
