<h3 class="small-12 columns"><%= @recipe.recipe_name %></h3>
<%= image_tag(@recipe.image, class:"image") %>
<%= link_to(@recipe.url, :target => "_blank") %>

<% @recipe.ingredients.each do |ingredient| %>
  <p>
    <%= ingredient %>
  </p>
<% end %>
