<ul class='check-list'>
  <% list.each do |item|  %>
    <li>
      <%# can we get javascript yet please? I want a checklist  %>
        <i class="fa fa-check"  aria-hidden="true"></i>
        <%= item %>
      </li>
  <% end %>
</ul>
