<article class="row">
  <section class="column 12-small">
    <h2>About This Project</h2>
    <p>
      This project is a Ruby on Rails assignment for Ada Developer's Academy, to practice consuming a third-party API. This website is powered by:
      <a href="http://developer.edamam.com">Edamam</a>, using their Recipe Search API.
    </p>

    <p>This project is named after
      <a href="https://en.wikipedia.org/wiki/John_Munch">Detective John Munch</a>, portrayed by <a href="http://www.imdb.com/name/nm0001938/">Richard Belzer</a>. Detective Munch has appeared on over 10 different television series, across 5 different television networks. He's sarcastic, believes in conspiracy theories, and is all around awesome.
  </section>
</article>
