<article>
  <header>
    <h1>Welcome to Muncher</h1>
    <h2>Can't think of what to make? Search for recipes here!</h2>
  </header>

  <section>
    <!-- <%= render partial: "search_form" %> -->
    <%= form_tag(recipes_results_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>

  </section>

  <section>
    <h3> Some baked searches here </h3>
    <ul>
      <li><a href="#">Chicken</a></li>
      <li><a href="#">Couscous</a></li>
      <li><a href="#">Potatoes</a></li>
    </ul>
  </section>
<article>
