<article>
  <header>
    <h1>Welcome to Muncher</h1>
    <h2>Can't think of what to make? Search for recipes here!</h2>
  </header>

  <section>
    <p> This doesn't work yet, need to hook up to form. </p> 
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </section>

  <section>
    <h3> Some baked searches here </h3>
    <ul>
      <li><a href="#">Chicken</a></li>
      <li><a href="#">Couscous</a></li>
      <li><a href="#">Potatoes</a></li>
    </ul>
  </section>
<article>
