<article>
  <header>
    <h2 class="page-title"><%= "Recipes that include #{ @ingredient }." %> </h2>
  </header>

  <ul class="row small-up-3 no-bullet">
    <% @recipes.each do | recipe | %>
      <li class="column">
        <p><%= link_to(image_tag(recipe.image), recipes_show_path(recipe.label)) %></p>
        <p><%= link_to recipe.label, recipes_show_path(recipe.label) %></p>
      <% end %>
      </li>
  </ul>
</article>
