<div class="callout large secondary">
  <div class="row column text-center">
    <h2>For The Love of Food</h2>
    <h3 class="subheader"><%= "All The #{@search_term.capitalize} You'll Love" %></h3>
  </div>
</div>


<section>
    <div class="row small-up-2 medium-up-3 large-up-4">
      <% @search_results.each do |recipe| %>
        <div class="column">
            <%= image_tag recipe.image, class: "thumbnail"%>
          <h5>
            <%= link_to recipe.label, recipe_show_path(recipe.uri)%>
          </h5>
        </div>
      <% end %>
    </div>
</section>
