<div class="error">
  <% if flash[:error] %>
  <%= flash[:error] %>
  <% end %>
</div>

<article class="index-search-bar"><%= render partial: "form" %></article>

<%= "Recipes containing '#{ @query }'" %>

<%= render partial: "list" %>
