<h1>Results for <%= "#{params[:search]}:" %></h1>

<% @recipes.each do |recipe| %>

  <%= image_tag(recipe.photo, alt: "photo of #{ recipe.name }") %>
  <p><%= link_to "#{ recipe.name }", recipe_path(recipe.uri[44..-1]) %></p>

<% end %>
