<section class="light-green">

<% if @recipes %>
  <%= render "layouts/results" %>
<% else %>
  <%= render "layouts/searchform" %>
<% end %>

<% if @recipes && @recipes.empty? %>
  <% if params[:startindex] == "0" %>
    <p class="left-space-needed">Sorry, no such recipes were found.</p>
  <% else %>
    <p class="left-space-needed">No more recipes for "<%= params[:search] %>" exist.</p>
  <% end %>
<% end %>

</section>
