
<h1>Please Enter in an Ingredient to See some Recipes </h1>

<%= form_tag recipes_search_path(:name), method: "get" do %>
  <%= label_tag :name, "Ingredients" %>
  <%= text_field_tag :name %>
  <%= submit_tag "Send Message", class: "Button" %>
<% end %>
