<h1>Results for <%= "#{params[:search]}:" %></h1>

<% @recipes.each do |recipe| %>

  <%= image_tag(recipe.photo, alt: "photo of #{ recipe.name }") %>
  <p><%= "#{ recipe.name }" %></p>
  <p><%= link_to "Go to recipe", recipe_path(recipe) %></p>

<% end %>
