<article>
  <header>
    <h1>Welcome to Muncher</h1>
    <h2>Can't think of what to make? Search for recipes here!</h2>
  </header>

  <section>
    <p> Some search form here.</p>
    <p> Some button here </p>
  </section>

  <section>
    <h3> Some baked searches here </h3>
    <ul>
      <li><a href="#">Chicken</a></li>
      <li><a href="#">Couscous</a></li>
      <li><a href="#">Potatoes</a></li>
    </ul>
  </section> 
<article>
