<section>


<h1> <%= "#{@search_term.capitalize} Search Results" %> </h1>

<% @search_results.each do |recipe| %>
  <p>
    <%= image_tag recipe.image %>
  </p>
  <p>
    <%= link_to recipe.label, recipe_show_path(recipe.uri)%>

  </p>

<% end %>

</section>
