<% if @recipes.blank? %>
  <h4>There are no recipes containing the term <%= params[:search] %>.</h4>
<% else %>

<h1>Results for <%= "#{params[:search]}" %> </h1>
 <% @recipes.each do |recipe| %>
  <% uri_id = recipe.uri.split("_").last %>
<ul>
  <li> Name: <%= link_to "#{ recipe.name}", recipe_path(uri_id)%></li>
  <li> <%= image_tag "#{ recipe.photo}" %> </li>
</ul>
<% end  %>
<% end %>
