
<h1>Top hits for <%= "#{@ingredient}"%></h1>
<table>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><%=image_tag("#{recipe.image}")%></td>
    <td><%= link_to "#{recipe.name}", recipes_show_path(@ingredient, recipe.name)%></td>
  </tr>
  <% end %>
</table>
