<p>search results for: <%= @term %> </p>
<% @recipes.each do |recipe| %>
	<h3> <%= link_to(recipe.name, recipe_path(recipe.id)) %> </h3>
	<%= image_tag(recipe.photo_url) %>
<%end%>
<%= will_paginate @paginated_results %>


