<main class="search">
  <section class="search-form">
    <h1>Recipe Search</h1>
    <%= render partial: "search" %>
  </section>
  <section class="credits">
    <p>
      All photos sourced from <a href="http://unsplash.com">Unsplash.com</a>
    </p>
  </section>
</main>
