<h1>Receipes#search</h1>
<!-- :name, :id, :health_labels, :ingredients, :uri, :servings, :nutrients
 -->
<p>search results for: <%= @term %> </p>
<%= @my_recipes.each do |recipe| %>
	<h3> <%= recipe.name %> </h3>
	<%= img_tag(recipe.photo_url) %>
<%end%>



