<h1>RecipeSearch#index</h1>
<p>Find me in app/views/recipe_search/index.html.erb</p>

<h3>Search Results</h3>
  <ol>
    <% @data.each do |result| %>
      <li><%= link_to "#{result}", recipe_search_show_path(result)%></li>
    <% end %>
  </ol>
