<h3>Search Results</h3>
  <ol>
    <% @data.each do |result| %>
      <li>
        <%= link_to result.label, recipe_search_show_path(result.id) %>
        <%= link_to recipe_search_show_path(result.id) do %>
          <%= image_tag result.image %>
        <% end %>
      </li>
    <% end %>
  </ol>

<%= will_paginate @data %>
