  <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <article class="homepage-main">
    <h2>Welcome to the recipe finder!</h3>
    <h3>Search by ingredient or dish above. You will find a delicious list of recipes with ingredients and an appetizing photo of the finished product. If you find something you want to make, click the link to take you to the original recipe page. Happy cooking!</h2>
  </article>
