<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= form_tag recipes_path, method: "get" do %>
  <%= label_tag :keyword, "" %>
  <%= text_field_tag :keyword %>
  <%= submit_tag "Search", class: "button" %>
<% end %>
