<article>
<section class="indent search-me">
  <header class="row">
    <h2 class="small-3", id="homepage-title">Search page</h2>
  </header>
  <%= form_tag recipes_path, method: :get do %>
    <%= label_tag :keyword, "Key Word:" %>
    <%= text_field_tag :search_term, params[:search_term], class: "rounded-edges" %>

    <%= submit_tag "Find Recipe", class: "button rounded-edges" %>
  <% end %>
</section>

</article>
