<h1>INDEX</h1>

<%= paginate @recipes_array %>

<% @recipes_array.each do |recipe| %>
  <h4><%= link_to "#{recipe.label}", show_page_path(recipe.id) %></h4>
  <p><%= image_tag recipe.photo, size: "40x40", alt: "Photo" %></p>
  <p><%= link_to "#{recipe.ingredients.length} Ingredients", show_page_path(recipe.id) %></p>
<% end %>
