
<article id="search-form" class="search-form column small-7 search-form">
<%= form_tag pages_path, method: :get do %>
  <%= label_tag :label, "" %>
  <%= text_field_tag :label %>
  <%= submit_tag "search", class: "fake-button" %>
<% end %>

<section class="copyright">&copy; Poodles are awesome!</section>
<p>API thanks to: Edamam Recipe Search.</p></footer>

</article>
