@import url('foundation.min.css');

nav {
  padding: 2%;
}
/*body {
  background-color: #7c9bf1;
  }*/

.pagination, a {
  color: rgb(189, 109, 109);
}

.page-bar {
  margin-top: 30px;
  /*margin-left: 30px;*/
}
.page-bar em.current {
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(245, 233, 82);
}

#search-form {
  padding: 2%;
  width: 50%;
}

#search-form input, .form_submit{
    border-radius: 100px;
    background-color: white;
}

li {
  list-style-type: none;
}

h1, h2 {
    font-family: 'Corben', Georgia, Arial, sans-serif;
    padding-top: 15px;
}

p, ul, li{
  font-family: 'Nobile', Arial, sans-serif;
}

h1, h2 {
  text-align: center;
  background-color: rgb(245, 233, 82);
  border-radius: 5px 30px 5px;
  width: 75%;

 }

.intro {
  padding: 5%;
}

.recipe-info {
  padding: 20px;
}

.home-image {
  margin-top: 20px;
}

footer {
  margin-top: 8%;
  margin-bottom: 2%;
  border-top: 5px solid rgb(245, 233, 82);
  padding: 2%;
}





/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
