/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body{
  padding: 1% 1% 1% 1%;
  font-family: 'PT Sans', sans-serif;
}

h3{
    font-family: 'PT Sans', sans-serif;
}

p, li{
  font-size: 1.1em;
}

span.page, span.first, span.prev, span.next, span.last {
  display: inline-block;
}

.small-12.medium-6.large-4.columns{
  padding: 1% 1% 1% 1%;
  text-align: center;
}

.small-12.medium-6.large-4.columns:hover{
  background-color: gray;
}

input#q{
  width: 50%;
}

form input, input#q{
  display: inline-block;
}

nav.pagination{
  text-align: center;
}

#title{
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-align: center;
}

footer{
  text-align: center;
}

#logo{
  width: 10%;
}

h1{
  font-family: 'Oswald', sans-serif;
}
