/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// h1 {
//   font-family: 'Architects Daughter', cursive;
//     font-size: 6em;
// }

body {
  background-color: #f7e7b4;
}

.site-header {
  background: image-url('spices.jpg');
  text-align: center;
}

h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 5em;
  color: white;

}

.header-sub {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  padding-top: 5px;
}

h2, h3, h4, a {
  font-family: 'Architects Daughter', cursive;
}

.button {
  background-color: green;
  font-family: 'Architects Daughter', cursive;
  border-radius: 10px;
}

.button:hover {
  background-color: #f47742;
}

.light-green {
  background-color: lightgreen;
  padding-bottom: 30px;
  border-radius: 15px;
}

footer {
  padding: 15px;
}

#footer-link {
font-family: sans-serif;
}
