@import url('foundation.css');
@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Sans');

/*HEADER*/
section.top-bar#main-header {
  background-color: #D9D7E5;
}

header h1 {
  font-family: 'Port Lligat Sans', sans-serif;
}

header a {
  color: #2F2D2E;
}

.search-me {
  background-color: #BECE9F;
}

ul.top-bar-right {
  width: 105%;
}

ul.menu {
  background-color: transparent;
}

.pagination a, span, em {
   float:left;
}

.page-title {
  font-family: 'Port Lligat Sans', sans-serif;
  padding: 2% 0 0 2%;
  width: auto;
}

#homepage-title {
  font-family: 'Port Lligat Sans', sans-serif;
  padding: 2% 0 0 2%;
}

/*INDEX PAGE*/
ul p.centered {
  margin-left: auto;
  margin-right: auto;
}

.no-bullet {
  list-style: none;
}
.indent {
  padding: 2% 6% 2% 6%;
}

left-indent {
  padding-left: 2%
}

/*FOOTER*/
footer {
  background-color: #D9D7E5;
}

.logo {
  width:10%;
}
