 @import url('foundation.css');

 body, h1, h2, h3, h4, h5 {
   font-family: 'Ubuntu', sans-serif;
 }

 .top-bar a {
   color: white;
 }

 .top-bar a:hover {
   color: #2dce93;
 }

 .top-bar ul {
  background-color: #0f5148;
 }

 .attribution {
   float: right;
 }

 .top-bar, footer {
   background: linear-gradient(45deg, #16701f, #d4f9d8);
 }

 footer {
   padding-top: 5px;
   color: white;
 }

 .header-home, .search-bar {
   width: 70%;
 }

 .pre-baked-index  {
   padding: 20px;
   /*text-align: center;*/
   width: 60%;
 }

 .baked-searches li {
   /*border: solid blue thin;*/
   width: 60%;
   /*padding: 5px;*/
 }

 .img-results {
   border-radius: 50%;
   margin: 15px auto;
 }

 .table-results {
  width: 70%;
 }

 .labels-results {
   text-align: right;
   font-size: .75em;
 }


 .baked-searches li, .health-labels-show li{
   display: inline-block;
 }

 .baked-searches, .health-labels-show {
   list-style: none;
   padding-top: 10px;
 }

.header-img-show {
  margin-top: 10px;
}

.img-show {
  border-radius: 50%;
  width: 70%;
  max-height: 250px;
  max-width: 250px;
  display: block;
  margin: 15px auto;
}

.recipe-header-show {
  text-align: center;
}

.health-labels-show li {
  font-size: .75em;
}

.instructions-show-button {
  text-align: right;
}

.search-results {
  border: solid lightgrey thin;
}

.search-results-label {
  margin-top: 10%;
}
.labels-results {
  margin-top: 8.5%;
}

.pagination a, span, em {
  float: left;
}

.pages-for-results {
  float: right;
}

.div{
  border: solid red thin;
}
