.recipe-row {
  padding-top: 50px;
}

a {
  color: black;
}

.left-space-needed {
  padding-left: 20px;
  padding-right: 20px;
}

#search-box {
  padding-top: 20px;
}

section {
  font-family: 'Architects Daughter', cursive;
}
