// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Default font colors are grey and black
body, a {
  color: #666;
}

a:hover {
  color: #000;
}

// TOP BAR

// styles the search bar so the button is inline
li {
  list-style: none;
}

form li {
  display: inline-block;
}

.button {
  // will need to style colors to make this match
}

// styles list of recent searches
.link-list > li {
  display: inline;
}

.link-list > li:not(:first-child):before {
  // cute cutlery for spacers
  font-family: FontAwesome;
  content: " \f0f5 ";
}

.link-list a {
  // prevent the images from smushing the text
  padding: 5px;
}

.prev-link:after {
  // navigate with left arrow
  font-family: FontAwesome;
  content: "\f060";
}

.next-link:after {
  // navigate with right arrow
  font-family: FontAwesome;
  content: "\f061";
}


// BODY - INDEX page

// recipe images are styled like tiles; opacity changes for hover and soft feel
.recipe-picture {
  opacity: 0.4;
  border-radius: 5px;
}

.recipe-tile:hover  .recipe-picture{
  opacity: 0.7;
}

// default styling for images everywhere!
img {
  opacity: 0.7;
  border-radius: 15px;
}

// recipes labels only visible on hover
.recipe-label {
  visibility: hidden;
  font-size: 1rem;
  text-align: center;
}

.recipe-tile:hover .recipe-label {
  visibility: visible;
}

// BODY - SHOW page

// make the details look nice
article {
  padding: 2rem;
}

.labels-list > li {
  display: inline;
}

.labels-list > li:not(:last-child):after {
  content:' |';
}

.check-list > li {
	border-bottom: 1px solid #ccc;
	padding: .2em 0 .2em .5em;
	color: #666;
}

.check-list i {
  margin-right: 5px;
  visibility: hidden;
}

.check-list > li:hover i {
  visibility: visible;
}
