<!DOCTYPE html>
<html>
<head>
  <title>ApiMuncher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="top-bar">
    <img src="">
    <h1 class="title-area">API Muncher</h1>
    <nav class="top-bar-section">
      <ul class="menu top-bar-right">
        <li><a href="#">Search</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </header>

<%= yield %>

<footer>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <p class="copyright">&copy; 2016 Karin Kubischta</p>
    </div>
    <div class="small-12 medium-6 columns">
      <p class="attribution">
        <a href="http://developer.edamam.com"><img src="assets/attribution.png"></a>
      </p>
    <div>
  </div>
</footer>
</body>
</html>
